apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-mcpftdhd
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-mcpftdhd:56d1f9a8b8f99438724217dec5e90ea9594be41e@sha256:f68c269bb56c229bf9df111c80822c90eca974b6223d30a6872f6e552edb086d
        name: container-image  
